.main-header {
    width: 1200px;
    border-bottom: 1px solid #ddd;
    justify-content:space-between;
    margin: 0 auto;
    background-color: white;
}

.header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.account {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 5%;
}

.cart-group {
    display: flex;
    align-items: center;
    gap: 10px;
}
.note-cart {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
}

.cart {
    font-size: 13px;
    text-decoration: none;
}

.total {
    font-size: 13px;
    color: blue;
    text-decoration: none;
}

.login-signin {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
}
.login {
    font-size: 13px;
    text-decoration: none;
}
.signin {
    font-size: 13px;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    font-size: 50px;
}

.logo-text-group {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
}

.logo-text {
    font-size: 28px;
    font-weight: bold;
}

.logo-small-text {
    font-size: 13px;
    color: gray;
}

.search-bar {
    display: flex;
    flex-grow: 1;
    max-width: 480px;
    margin-left: 10%;
}

.search-bar select
{
    padding: 8px;
    border: 1px solid #ccc;
    border-right: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.search-bar input {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-right: none;
}

.search-bar button {
    padding: 8px 12px;
    background-color: #ffffff;
    color: white;
    border: 1px solid #ccc;
    cursor: pointer;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.header-bottom {
    justify-content: center;
    align-items: center;
    border-top: 1px solid #eee;
    padding: 5px 20px;
    display: flex;

}

.margin-left-right-wrapped{
    margin-left: 10%;
    margin-right: 10%;
}
.categories{
    display: flex;
}


.home-button {
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: white;
    position: relative;
    display: inline-block;
}

.home-button::after,
.home-button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: black;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

.home-button::after{
    top: -5px;
    transform-origin: left;
}

.home-button:hover::after,
.home-button:hover::before{
    transform: scaleX(1);
}

.policy-button {
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: white;
    position: relative;
    display: inline-block;
}

.policy-button::after,
.policy-button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: black;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}
.policy-button::after {
    top: -5px;
    transform-origin: left;
}

.policy-button:hover::after,
.policy-button:hover::before {
    transform: scaleX(1);
}

.store-button {
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: white;
    position: relative;
    display: inline-block;
}

.store-button::after,
.store-button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: black;
    bottom: -6px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

.store-button::after{
    top: -5px;
    transform-origin: left;
}

.store-button:hover::after,
.store-button:hover::before
{
    transform: scaleX(1);
}

.contact-button{
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: white;
    position: relative;
    display: inline-block;
}

.contact-button::after,
.contact-button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: black;
    bottom: -6px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}
.contact-button::after {
    top: -5px;
    transform-origin: left;
}

.contact-button:hover::after,
.contact-button:hover::before {
    transform: scaleX(1);
}

.dropbtn {
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: white;
    position: relative;
    display: inline-block;
}

.dropbtn::after {
    top: -5px;
    transform-origin: left;
}

.dropbtn::after,
.dropbtn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: black;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

.dropbtn:hover::after,
.dropbtn:hover::before {
    transform: scaleX(1);
}

.categories {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 160px;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 20;
    border: black solid 2px;

}
