body {
    border-bottom: 1px solid #ddd;
    justify-content:space-between;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #f0f0f0;
}

.banner {
    padding-top: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 18px;
}

.featured-text{
    padding-left: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.featured {
    display: flex;
    max-height: 250px;
    gap: 20px;
    padding-top: 5px;
    padding-bottom: 40px;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.book-card {
    display: flex;
    position: relative;
    width: 500px;
    padding: 1px;
    color: white;
    border: 1px solid #ddd;
    background:rgb(255, 255, 255);
    color: black;
}


.book-card.grey {
    background: rgba(0, 0, 0, 0.6);
}

.book-img {
    max-height: 100%;
    max-width: 40%;
    margin-right: 20px;
}

.book-card h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}

.book-info ul {
    padding-left: 20px;
    padding-right: 20px;
}

.btn.small {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: white;
    color: black;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.book-item {
    background: #fff;
    padding: 10px;
    min-height: 350px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.book-overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    font-size: 16px;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}
  
.book-item:hover .book-overlay {
    opacity: 1;
}
  
.book-overlay span {
    background: rgba(255, 255, 255, 0.2);
    padding: 8px 16px;
    border-radius: 4px;
}
  
.book-overlay:hover span {
    background: rgba(255, 255, 255, 0.4);
}

.book-image {
    max-width: auto;
    max-height: 250px;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.book-title {
    font-size: 23px;
    font-weight: bold;
    margin-top: 10px;
}


.book-pricing del {
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: #ff0000;
}

.discounted {
    position: absolute;
    bottom: 15px;
    left: 85px;
    color: #ff0000;
    font-weight: bold;
}

.discount-tag {
    position: absolute;
    bottom: 15px;
    right: 20px;
    background-color: red;
    color: white;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 5px;
}

.swiper {
    padding-top: 60px;
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next {
    opacity: 1;
}

.swiper-container {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    background-color: white;
    border-radius: 8px;
    padding-bottom: 20px;
}

.swiper-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.swiper-text a {
    padding-right: 20px;
    font-size: 20px;
}